<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffffff;">
  <span class="text-primary navbar-brand"><strong><span class="oi oi-clipboard"></span> &nbsp; Conference '19</strong></span>

  <ul class="nav nav-tabs">
    <li class="nav-item active">
      <a class="nav-link active" href="../con_register.html">Register</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="../con_programme.html">Programme</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="../con_logistics.html">Logistics</a>
    </li>
  </ul>

</nav>
