<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="index.html"><span class="oi oi-home text-light"></span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- About -->
      <li class="nav-item active">
        <a class="nav-link" href="./about.html">About</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="./join.html">Join</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="./contact.html">Contact</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="./JAMS.html">Seminars</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="./con_home.html">Conference '19</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="./sponsors.html">Sponsors</a>
      </li>
    </ul>
  </div>
</nav>
