<table class="table">
<tbody>
  <!--Coffee Break -->
  <tr class='bg-light'>
    <th scope="row">09:30-10:00</th>
    <td class="font-weight-bold" colspan="2">Registration</td>
  </tr>
  <!--First Speaker -->
  <tr>
    <th scope="row">10:00-11:30</th>
    <td>
      <span class="text-danger font-weight-bold">Sample Title<br></span>
      <p class="mb-3"><span class="oi oi-person"></span> &nbsp; <span class="text-success">Sample speaker</span>&nbsp; &nbsp; <span class="oi oi-map"></span> &nbsp; University of Oxford</p>
    </td>
    <td>
      <button class="nav-item active" type="button" data-toggle="collapse" data-target="#abstract1" aria-expanded="false">
      Abstract
      </button>
      <div class="collapse" id="abstract1">
        <div class="card card-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae orci sollicitudin, varius ligula at, blandit lectus. Ut mi elit, placerat ac tempor at, semper vitae sapien. In eu urna nec sapien fermentum lacinia at ut erat. Cras rhoncus nec eros et venenatis. Nullam euismod ex nec felis porta pharetra. Praesent quam sem, pretium vel vehicula eget, iaculis ac mi. Duis laoreet nibh arcu, at fringilla elit lacinia ut. Aliquam vulputate, justo in finibus maximus, purus mi mattis sapien, id lacinia lectus lorem vel tortor. Morbi ultricies est at consequat sodales. Aenean efficitur libero eget dapibus fringilla. Nunc et consectetur dolor, non hendrerit urna. Nam lacinia sodales lacinia.
        </div>
      </div>
    </td>
  </tr>
  <!--Coffee Break -->
  <tr class='bg-light'>
    <th scope="row">11:30-12:00</th>
    <td class="font-weight-bold" colspan="2">Coffee Break outside L3</td>
  </tr>
  <!--2nd Speaker-->
  <tr>
    <th scope="row">12:00-12:30</th>
    <td>
      <span class="text-danger font-weight-bold">Sample Title<br></span>
      <p class="mb-3"><span class="oi oi-person"></span> &nbsp; <span class="text-success">Sample speaker</span>&nbsp; &nbsp; <span class="oi oi-map"></span> &nbsp; University of Oxford</p>
    </td>
    <td>
      <button class="nav-item active" type="button" data-toggle="collapse" data-target="#abstract2" aria-expanded="false" aria-controls="collapseExample">
      Abstract &nbsp;<span class="oi oi-plus"></span>
      </button>
      <div class="collapse" id="abstract2">
        <div class="card card-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae orci sollicitudin, varius ligula at, blandit lectus. Ut mi elit, placerat ac tempor at, semper vitae sapien. In eu urna nec sapien fermentum lacinia at ut erat. Cras rhoncus nec eros et venenatis. Nullam euismod ex nec felis porta pharetra. Praesent quam sem, pretium vel vehicula eget, iaculis ac mi. Duis laoreet nibh arcu, at fringilla elit lacinia ut. Aliquam vulputate, justo in finibus maximus, purus mi mattis sapien, id lacinia lectus lorem vel tortor. Morbi ultricies est at consequat sodales. Aenean efficitur libero eget dapibus fringilla. Nunc et consectetur dolor, non hendrerit urna. Nam lacinia sodales lacinia.
        </div>
      </div>
    </td>
  </tr>
  <!--3rd Speaker-->
  <tr>
    <th scope="row">12:30-13:00</th>
    <td>
      <span class="text-danger font-weight-bold">Sample Title<br></span>
      <p class="mb-3"><span class="oi oi-person"></span> &nbsp; <span class="text-success">Sample speaker</span>&nbsp; &nbsp; <span class="oi oi-map"></span> &nbsp; University of Oxford</p>
    </td>
    <td>
      <button class="nav-item active" type="button" data-toggle="collapse" data-target="#abstract3" aria-expanded="false" aria-controls="collapseExample">
      Abstract &nbsp;<span class="oi oi-plus"></span>
      </button>
      <div class="collapse" id="abstract3">
        <div class="card card-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae orci sollicitudin, varius ligula at, blandit lectus. Ut mi elit, placerat ac tempor at, semper vitae sapien. In eu urna nec sapien fermentum lacinia at ut erat. Cras rhoncus nec eros et venenatis. Nullam euismod ex nec felis porta pharetra. Praesent quam sem, pretium vel vehicula eget, iaculis ac mi. Duis laoreet nibh arcu, at fringilla elit lacinia ut. Aliquam vulputate, justo in finibus maximus, purus mi mattis sapien, id lacinia lectus lorem vel tortor. Morbi ultricies est at consequat sodales. Aenean efficitur libero eget dapibus fringilla. Nunc et consectetur dolor, non hendrerit urna. Nam lacinia sodales lacinia.
        </div>
      </div>
    </td>
  </tr>
  <!--Lunch -->
  <tr class='bg-light'>
    <th scope="row">13:00-14:00</th>
    <td class="font-weight-bold" colspan="2">Lunch at St Anne's College</td>
  </tr>

</tbody>
</table>
